@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
    border: 4px solid black;
    height: 800px;
    width: 730px;
    margin: 20px auto;
    padding: 0;
    position: relative;
}

body {
    font-family: 'Courier Prime', monospace; 
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline solid;
    text-align: center;
    margin-top: 10px;
}

#part1 {
    border: 2px double black;
    border-radius: 10px;
    left: 20px;
    top: 20px;
    height: 100px;
    width: 700px;
    position: absolute;
    text-align: center;
    background-color: white; 
}

#part2 {
    border: 2px double black;
    border-radius: 10px;
    top: 140px;
    left: 20px;
    height: 500px;
    width: 700px;
    position: absolute;
    padding-top: 20px;
}

#inner1 {
    border: 2px double black;
    border-radius: 10px;
    left: 13px;
    top: 20px;
    height: 60px;
    width: 667px;
    position: absolute;
}

#inner2 {
    border: 2px double black;
    border-radius: 10px;
    top: 100px;
    left: 13px;
    height: 80px;
    width: 667px;
    position: absolute;
}

#inner3 {
    border: 2px double black;
    border-radius: 10px;
    top: 200px;
    left: 13px;
    height: 200px;
    width: 667px;
    position: absolute;
}

h2 {
    font-size: 16px;
    width: 150px;
    margin-top: -10px;
    margin-left: 10px;
    color: #A0522D; 
    background: white;
    padding: 0 5px;
    position: absolute;
}

input[type="text"] {
    margin-left: 20px;
    margin-top: 15px;
    width: 200px;
}

button {
    margin-left: 10px;
    cursor: pointer;
}

p {
    margin-left: 15px;
    margin-top: 15px;
}

#footer {
    left: 20px;
    height: 30px;
    width: 700px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: 660px;
    position: absolute;
    text-align: center;
    padding-top: 10px;
}

a {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}